.header-container {
    width: 70%;
    padding: 20px;

    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .app-title {
        font-size: 24px;
    }

}